name: open_responses_dart
description: A Dart client library for the Open Responses API specification. Multi-provider, interoperable LLM interface for Flutter and Dart applications.
version: 0.1.0
homepage: https://github.com/JAICHANGPARK/openresponses-dart
repository: https://github.com/JAICHANGPARK/openresponses-dart
issue_tracker: https://github.com/JAICHANGPARK/openresponses-dart/issues
documentation: https://github.com/JAICHANGPARK/openresponses-dart

environment:
  sdk: '>=3.10.0 <4.0.0'  # Dart 3.10+ required for dot shorthands
  flutter: ">=3.22.0"

dependencies:
  http: ^1.6.0
  json_annotation: ^4.10.0
  freezed_annotation: ^3.1.0

# dev_dependencies:
  build_runner: ^2.10.5
  json_serializable: ^6.12.0
  freezed: ^3.2.4
  test: ^1.29.0
  mockito: ^5.6.3
  flutter_client_sse: ^2.0.3

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

# To add assets to your package, add an assets section, like this:
# assets:
#   - images/a_dot_burr.jpeg
#   - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/assets-and-images/#from-packages
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/assets-and-images/#resolution-aware

# To add custom fonts to your package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/custom-fonts/#from-packages

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:
